<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Criar convite</ion-title>
  </ion-toolbar>
</ion-header>

<form [formGroup]="form">
  <ion-grid style="width: 100%;" class="ion-margin-vertical">
    <ion-row>
      <ion-col size="6">
        <ion-input formControlName="startDate" label="Horário de entrada" labelPlacement="floating" fill="outline" type="datetime-local" placeholder="Horário de entrada"></ion-input>
  
      </ion-col>
      <ion-col size="6">
        <ion-input formControlName="endDate" label="Horário de Saída" labelPlacement="floating" fill="outline" type="datetime-local" placeholder="Horário de Saída"></ion-input>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="12">
        <ion-input formControlName="email" label="E-mail" labelPlacement="floating" fill="outline" type="text" placeholder="E-mail"></ion-input>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="12">
        <ion-textarea formControlName="description" label="Descrição" labelPlacement="floating" fill="outline" rows="4"></ion-textarea>
      </ion-col>
    </ion-row>
  </ion-grid>  
</form>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-button size="larger" color="danger" (click)="closeModal()">
        <ion-icon name="close-outline" class="ion-margin-right"></ion-icon>
        Fechar
      </ion-button>
  
      <ion-button size="larger" color="success" [disabled]="!form.valid" (click)="createVisitSubmit(form.value)">  
        <ion-icon name="save-outline" class="ion-margin-right"></ion-icon>
        Salvar
      </ion-button>
    </ion-item> 
  </ion-toolbar>
</ion-footer>