<ion-header color="primary">
  <ion-toolbar color="primary">
    <div style="display: flex;justify-content: space-between;"  >
      <div>
        <ion-item color="primary">
          <ion-thumbnail>
            <img [src]="company.avatar ? company.avatar : 'https://us.123rf.com/450wm/anatolir/anatolir2011/anatolir201105528/159470802-jurist-avatar-icon-flat-style.jpg?ver\u003d6' " />
          </ion-thumbnail>
          <ion-label class="ion-padding-start">{{ company.name ? company.name : 'Empresa não encontrada' }}</ion-label>
        </ion-item>
      </div>
      
      <div style="display: flex;">
        <ion-button fill="clear" color="light" (click)="logout()">
          <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <main>

    <ion-segment [scrollable]="true" value="wait" (ionChange)="segmentChanged($event)" class="ion-margin-top">
      <ion-segment-button value="wait" [disabled]="!visitorsWaiting?.length" [style.pointer-events]="!visitorsWaiting?.length ? 'none' : 'initial'" (click)="getVisits()">
        <ion-label>{{ visitorsWaiting?.length ?? 0 }} Aguardando</ion-label>
      </ion-segment-button>
      <ion-segment-button value="approve" [disabled]="!visitorsApproved?.length" [style.pointer-events]="!visitorsApproved?.length ? 'none' : 'initial'" (click)="getVisits()">
        <ion-label>{{ visitorsApproved?.length ?? 0 }} Autorizados</ion-label>
      </ion-segment-button>
      <ion-segment-button value="reject" [disabled]="!visitorsReject?.length" [style.pointer-events]="!visitorsReject?.length ? 'none' : 'initial'" (click)="getVisits()">
        <ion-label>{{ visitorsReject?.length ?? 0 }} Recusados</ion-label>
      </ion-segment-button>
      <ion-segment-button value="finish" [disabled]="!visitorsFinish?.length" [style.pointer-events]="!visitorsFinish?.length ? 'none' : 'initial'" (click)="getVisits()">
        <ion-label>{{ visitorsFinish?.length ?? 0 }} Finalizados</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-list>
      <ng-container *ngIf="type == 'wait' && visitorsWaiting?.length">
        <ion-item *ngFor="let visit of visitorsWaiting" [style]="!visit.visitorAccepted ? 'opacity: 0.75' : '' ">
          <ion-thumbnail>
            <img [src]="visit.visitor?.url ? visit.visitor.url : 'https://img.freepik.com/psd-premium/avatar-de-desenho-animado-3d-do-engenheiro-com-capacete-de-seguranca_1020-5136.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712620800&semt=ais'" />
          </ion-thumbnail>
          <ion-label class="ion-padding-start">
            <ng-container *ngIf="!isMobile">
              <h1>{{ visit.visitor.fullName }} - {{ visit.visitor.role }} </h1>
              <p>{{ visit.visitor.phone }}</p>
            </ng-container>
            <ng-container *ngIf="isMobile">
              <h1>{{ visit.visitor.fullName }}</h1>
              <p>{{ visit.visitor.role }}</p>
              <p>{{ visit.startDate | date : 'dd/MM/yyyy HH:mm' }}</p> <p>{{ visit.endDate | date : 'dd/MM/yyyy HH:mm' }}</p>
              <p>{{ visit.visitor.phone }}</p>
            </ng-container>
          </ion-label>

          <ion-label *ngIf="!isMobile">
            <p>{{ visit.startDate | date : 'dd/MM/yyyy HH:mm' }}</p> <p>{{ visit.endDate | date : 'dd/MM/yyyy HH:mm' }}</p>
          </ion-label>
          
          <ion-button (click)="approveVisit(visit.id)" color="success" [disabled]="!visit.visitorAccepted" [style]="!visit.visitorAccepted ? 'opacity: 0' : '' ">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </ion-button>
          <ion-button (click)="approveVisit(visit.id, false)" color="danger" [disabled]="!visit.visitorAccepted" [style]="!visit.visitorAccepted ? 'opacity: 0' : '' ">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>

          <ion-button (click)="showVisit(visit)" fill="clear" shape="round">
            <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
          </ion-button>

        </ion-item>
      </ng-container>
      <ng-container *ngIf="type == 'approve' && visitorsApproved?.length">
        <ion-item *ngFor="let visit of visitorsApproved">
          <ion-thumbnail>
            <img [src]="visit.visitor?.url ? visit.visitor.url : 'https://img.freepik.com/psd-premium/avatar-de-desenho-animado-3d-do-engenheiro-com-capacete-de-seguranca_1020-5136.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712620800&semt=ais'" />
          </ion-thumbnail>

          <ion-label class="ion-padding-start">
            <ng-container *ngIf="!isMobile">
              <h1>{{ visit.visitor.fullName }} - {{ visit.visitor.role }} </h1>
              <p>{{ visit.visitor.phone }}</p>
            </ng-container>
            <ng-container *ngIf="isMobile">
              <h1>{{ visit.visitor.fullName }}</h1>
              <p>{{ visit.visitor.role }}</p>
              <p>{{ visit.startDate | date : 'dd/MM/yyyy HH:mm' }}</p> <p>{{ visit.endDate | date : 'dd/MM/yyyy HH:mm' }}</p>
              <p>{{ visit.visitor.phone }}</p>
            </ng-container>
          </ion-label>

          <ion-label *ngIf="!isMobile">
            <p>{{ visit.startDate | date : 'dd/MM/yyyy HH:mm' }}</p> <p>{{ visit.endDate | date : 'dd/MM/yyyy HH:mm' }}</p>
          </ion-label>


          <ion-button (click)="showVisit(visit)" fill="clear" shape="round">
            <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
          </ion-button>

        </ion-item>
      </ng-container>
      <ng-container *ngIf="type == 'reject' && visitorsReject?.length">
        <ion-item *ngFor="let visit of visitorsReject">
          <ion-thumbnail>
            <img [src]="visit.visitor?.url ? visit.visitor.url : 'https://img.freepik.com/psd-premium/avatar-de-desenho-animado-3d-do-engenheiro-com-capacete-de-seguranca_1020-5136.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712620800&semt=ais'" />
          </ion-thumbnail>

          <ion-label class="ion-padding-start">
            <ng-container *ngIf="!isMobile">
              <h1>{{ visit.visitor.fullName }} - {{ visit.visitor.role }} </h1>
              <p>{{ visit.visitor.phone }}</p>
            </ng-container>
            <ng-container *ngIf="isMobile">
              <h1>{{ visit.visitor.fullName }}</h1>
              <p>{{ visit.visitor.role }}</p>
              <p>{{ visit.startDate | date : 'dd/MM/yyyy HH:mm' }}</p> <p>{{ visit.endDate | date : 'dd/MM/yyyy HH:mm' }}</p>
              <p>{{ visit.visitor.phone }}</p>
            </ng-container>
          </ion-label>

          <ion-label *ngIf="!isMobile">
            <p>{{ visit.startDate | date : 'dd/MM/yyyy HH:mm' }}</p> <p>{{ visit.endDate | date : 'dd/MM/yyyy HH:mm' }}</p>
          </ion-label>


          <ion-button (click)="showVisit(visit)" fill="clear" shape="round">
            <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
          </ion-button>

        </ion-item>
      </ng-container>
      <ng-container *ngIf="type == 'finish' && visitorsFinish?.length">
        <ion-item *ngFor="let visit of visitorsFinish">
          <ion-thumbnail>
            <img [src]="visit.visitor?.url ? visit.visitor.url : 'https://img.freepik.com/psd-premium/avatar-de-desenho-animado-3d-do-engenheiro-com-capacete-de-seguranca_1020-5136.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712620800&semt=ais'" />
          </ion-thumbnail>

          <ion-label class="ion-padding-start">
            <ng-container *ngIf="!isMobile">
              <h1>{{ visit.visitor.fullName }} - {{ visit.visitor.role }} </h1>
              <p>{{ visit.visitor.phone }}</p>
            </ng-container>
            <ng-container *ngIf="isMobile">
              <h1>{{ visit.visitor.fullName }}</h1>
              <p>{{ visit.visitor.role }}</p>
              <p>{{ visit.startDate | date : 'dd/MM/yyyy HH:mm' }}</p> <p>{{ visit.endDate | date : 'dd/MM/yyyy HH:mm' }}</p>
              <p>{{ visit.visitor.phone }}</p>
            </ng-container>
          </ion-label>

          <ion-label *ngIf="!isMobile">
            <p>{{ visit.startDate | date : 'dd/MM/yyyy HH:mm' }}</p> <p>{{ visit.endDate | date : 'dd/MM/yyyy HH:mm' }}</p>
          </ion-label>


          <ion-button (click)="showVisit(visit)" fill="clear" shape="round">
            <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
          </ion-button>

        </ion-item>
      </ng-container>
    </ion-list>
  </main>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createVisit()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
