<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-item color="primary">
      <ion-thumbnail>
        <img [src]="visitor?.avatar ? visitor.avatar : 'https://us.123rf.com/450wm/anatolir/anatolir2011/anatolir201105528/159470802-jurist-avatar-icon-flat-style.jpg?ver\u003d6' " />
      </ion-thumbnail>
      <ion-label class="ion-padding-start">{{ visitor?.name ? visitor.name : 'Visitante não encontrada' }}</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <main>
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col size="4" *ngFor="let i of [0,0,0,0]">
            <ion-card button>
              <ion-card-header>
                <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                <ion-card-title>Awesome Title</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <ion-list>
                  <ion-accordion-group>
                    <ion-accordion value="first">
                      <ion-item slot="header" color="light">
                        <ion-label>Arquivos</ion-label>
                      </ion-item>

                      <div class="ion-padding" slot="content">
                        <ion-item>
                          <ion-label>Layout técnico.pdf</ion-label>
                          <ion-button fill="clear">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                          </ion-button>
                        </ion-item>

                        <ion-item>
                          <ion-label>RG.pdf</ion-label>
                          <ion-button fill="clear">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                          </ion-button>
                        </ion-item>
                      </div>


                    </ion-accordion>
                  </ion-accordion-group>

                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </main>
</ion-content>
