// .logo {
//   margin: 0 auto;
//   max-width: 128px;
// }

ion-grid {
    ion-row {
        height: 100vh;
        ion-col {
            &:nth-child(1) {
                background: linear-gradient(130deg, #0095cc, #011e39);
                display: flex;
                align-items: center;
                justify-content: center;
                ion-img {
                  max-width: 256px;
                }
            }
            .login-form-container {
              // padding-bottom: 40px;
              // position: relative;
              max-width: 400px;
              margin: 0 auto;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;

              ion-button {
                width: 80%;
                display: flex;
                margin: 16px auto 0;
              }
            }
        }
    }
}

@media screen and (max-width: 992px) {
  .login-form-container {
    ion-img {
      margin: 0 auto;
      display: block !important;
      max-width: 50%;
    }
  }
}
