<ion-content [fullscreen]="true">

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="5"></ion-col>
      <ion-col size="7" class="ion-padding">
        <div class="login-form-container">
          <!-- <ion-title>Entrar</ion-title> -->
          <ion-segment [value]="type" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="company">
              <ion-label>Empresa</ion-label>
            </ion-segment-button>
            <ion-segment-button value="visitor">
              <ion-label>Visitante</ion-label>
            </ion-segment-button>
          </ion-segment>

          <ng-container *ngIf="type === 'visitor'">
            <form (ngSubmit)="submitVisitor()">
              <ion-input class="ion-margin-top" type="email" fill="outline" placeholder="email@facilacesso.com.br" label="E-mail"
                labelPlacement="floating" [clearInput]="true"></ion-input>
              <ion-input class="ion-margin-top" type="password" fill="outline" placeholder="senha 1234" label="Senha" labelPlacement="floating"
                [clearInput]="true"></ion-input>

              <ion-button type="submit">
                Entrar
              </ion-button>
            </form>
          </ng-container>

          <ng-container *ngIf="type === 'company'">
            <form (ngSubmit)="submitCompany()">
              <ion-input class="ion-margin-top" type="email" fill="outline" placeholder="email@facilacesso.com.br" label="E-mail"
                labelPlacement="floating" [clearInput]="true"></ion-input>
              <ion-input class="ion-margin-top" type="password" fill="outline" placeholder="senha 1234" label="Senha" labelPlacement="floating"
                [clearInput]="true"></ion-input>

              <ion-button type="submit">
                Entrar
              </ion-button>
            </form>
          </ng-container>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
