<ion-content [fullscreen]="true">

  <ion-grid class="register-container ion-no-padding">
    <ion-row>
      <ion-col size-lg="5" size-md="0" size-xs="0" class="left">
        <ion-img src="assets/logo.png"></ion-img></ion-col>
      <ion-col size-lg="7" size-md="12" size-xs="12" class="ion-padding">
        <div class="login-form-container">

          <ion-img class="ion-hide" src="assets/logo.png"></ion-img>

          <!-- <ion-title>Entrar</ion-title> -->
          <ion-segment [value]="type" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="company">
              <ion-label>Empresa</ion-label>
            </ion-segment-button>
            <ion-segment-button value="visitor">
              <ion-label>Visitante</ion-label>
            </ion-segment-button>
          </ion-segment>

          <ng-container *ngIf="type === 'visitor'">
            <form [formGroup]="visitorsForm" (ngSubmit)="submitVisitor()">
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-input formControlName="fullName" class="ion-margin-top" type="text" fill="outline" placeholder="Acesso fácil" label="Nome completo" labelPlacement="floating"></ion-input>
                </ion-row>

                <ion-row>
                  <ion-input formControlName="password" class="ion-margin-top" type="password" fill="outline" placeholder="senha 1234" label="Senha" labelPlacement="floating" ></ion-input>
                </ion-row>

                <ion-row>
                  <ion-input formControlName="email" class="ion-margin-top" type="email" fill="outline" placeholder="empresa@acessofacil.com.br" label="E-mail" labelPlacement="floating"></ion-input>
                </ion-row>

                <ion-row>
                  <ion-input formControlName="birthday" class="ion-margin-top" type="date" fill="outline" placeholder="Seu aniversário" label="Data de nascimento" labelPlacement="floating"></ion-input>
                </ion-row>

                <ion-row>
                  <ion-input formControlName="role" class="ion-margin-top" type="text" fill="outline" placeholder="Profissão" label="Profissão" labelPlacement="floating"></ion-input>
                </ion-row>

                <ion-row>
                  <ion-input formControlName="phone" class="ion-margin-top" type="text" fill="outline" placeholder="Telefone" label="Telefone" labelPlacement="floating"></ion-input>
                </ion-row>

                <ion-row>
                  <ion-col size="4">
                    <ion-select formControlName="identityType" class="ion-margin-top" value="1" fill="outline" placeholder="Selecione">
                      <ion-select-option value="cnpj">CNPJ</ion-select-option>
                      <ion-select-option value="cpf">CPF</ion-select-option>
                    </ion-select>
                  </ion-col>
                  <ion-col size="8" class="ion-padding-start">
                    <ion-input formControlName="identity" class="ion-margin-top" type="text" fill="outline" placeholder="Cpf/Cnpj" label="Cpf/Cnpj" labelPlacement="floating"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <div formGroupName="address">
                      <ion-input formControlName="address" class="ion-margin-top" type="text" fill="outline" placeholder="Endereço" label="Endereço" labelPlacement="floating"></ion-input>
                      <!-- <ion-input formControlName="identity" class="ion-margin-top" type="text" fill="outline" placeholder="Bairro" label="Bairro" labelPlacement="floating"></ion-input> -->
                      <ion-input formControlName="city" class="ion-margin-top" type="text" fill="outline" placeholder="Cidade" label="Cidade" labelPlacement="floating"></ion-input>
                      <ion-input formControlName="uf" class="ion-margin-top" type="text" fill="outline" placeholder="Estado" label="Estado" labelPlacement="floating"></ion-input>
                      <ion-input formControlName="zipCode" class="ion-margin-top" type="text" fill="outline" placeholder="CEP" label="CEP" labelPlacement="floating"></ion-input>
                      <ion-input formControlName="complement" class="ion-margin-top" type="text" fill="outline" placeholder="Complemento" label="Complemento" labelPlacement="floating"></ion-input>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <video #videoElement autoplay [style.display]="photoSaved ? 'none' : 'block'"></video>
              <canvas #canvas style="display: none;"></canvas>
              <ion-button (click)="capture()" [disabled]="photoSaved || loading">
                {{ !takePicture ? ( photoSaved ? 'Imagem salva' : 'Tirar Foto') : 'Salvar' }}
              </ion-button>

              <input type="file" multiple label="Arquivos *" #files (change)="onFilesSelected($event)" hidden />

              <ion-button color="dark" (click)="selectFile()">
                Selecionar Arquivos
              </ion-button>

              <ion-button type="submit" [disabled]="loading">
                Cadastrar
              </ion-button>
            </form>
          </ng-container>

          <ng-container *ngIf="type === 'company'">
            <form [formGroup]="companysForm" (ngSubmit)="submitCompany()">
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-input formControlName="name" class="ion-margin-top" type="text" fill="outline" placeholder="Acessa fácil" label="Razão social" labelPlacement="floating"></ion-input>
                </ion-row>

                <ion-row>
                  <ion-input formControlName="password" class="ion-margin-top" type="password" fill="outline" placeholder="senha 1234" label="Senha" labelPlacement="floating" ></ion-input>
                </ion-row>

                <ion-row>
                  <ion-input formControlName="email" class="ion-margin-top" type="email" fill="outline" placeholder="empresa@acessafacil.com.br" label="E-mail" labelPlacement="floating"></ion-input>
                </ion-row>

                <ion-row>
                  <ion-col size="4">
                    <ion-select formControlName="identityType" class="ion-margin-top" value="1" fill="outline" placeholder="Selecione">
                      <ion-select-option value="cnpj">CNPJ</ion-select-option>
                      <ion-select-option value="cpf">CPF</ion-select-option>
                    </ion-select>
                  </ion-col>
                  <ion-col size="8" class="ion-padding-start">
                    <ion-input formControlName="identity" class="ion-margin-top" type="text" fill="outline" placeholder="Cpf/Cnpj" label="Cpf/Cnpj" labelPlacement="floating"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <div formGroupName="address">
                      <ion-input formControlName="address" class="ion-margin-top" type="text" fill="outline" placeholder="Endereço" label="Endereço" labelPlacement="floating"></ion-input>
                      <!-- <ion-input formControlName="identity" class="ion-margin-top" type="text" fill="outline" placeholder="Bairro" label="Bairro" labelPlacement="floating"></ion-input> -->
                      <ion-input formControlName="city" class="ion-margin-top" type="text" fill="outline" placeholder="Cidade" label="Cidade" labelPlacement="floating"></ion-input>
                      <ion-input formControlName="uf" class="ion-margin-top" type="text" fill="outline" placeholder="Estado" label="Estado" labelPlacement="floating"></ion-input>
                      <ion-input formControlName="zipCode" class="ion-margin-top" type="text" fill="outline" placeholder="CEP" label="CEP" labelPlacement="floating"></ion-input>
                      <ion-input formControlName="complement" class="ion-margin-top" type="text" fill="outline" placeholder="Complemento" label="Complemento" labelPlacement="floating"></ion-input>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>


              <ion-button type="submit">
                Cadastrar
              </ion-button>
            </form>
          </ng-container>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
