video {
  background: url(/assets/avatar.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #95bbdf;
  background-position: center;
  margin: 16px auto 0;
  width: 100%;
  max-width: 100%;
}


.register-container {
  height: 100vh;
  ion-row {
    height: 100%;
      ion-col {
          .login-form-container {
            max-width: 400px;
            margin: 0 auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            ion-button {
              width: 80%;
              display: flex;
              margin: 16px auto 0;
            }
          }
      }
  }
}
